<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h3 class = "new-listing-tag">
    Edit your listing
  </h3>
  <form method = "post" action = "/listings/<%= list.id %>?_method=PUT" class = "new-form validate-form" >
  
    <div class = "label_input">
      <label for = "title">Title*</label><br>
      <input name = "listing[title]" placeholder="Edit title"type = "text"
      requiredFill = "true"
      value = "<%= list.title %>">
    </div>
    <div class = "label_input">
      <label for = "description">Description</label><br>
      <textarea name = "listing[description]" type=
      "text"><%= list.description %></textarea>
    </div>
    <div class = "label_input">
      <label for = "image">Image</label><br>
      <input name = "listing[image]" placeholder="Enter the image link" type = "text" value
      = "<%= list.image %>" requiredFill = "true">
    </div>
    <div class = "price_location">
    
      <div class = "label_input">
        <label for = "price">Price*</label><br>
        <input name = "listing[price]" type = "number" value = "<%=
        list.price %>" requiredFill = "true">
      </div>
      <div class = "label_input">
        <label for = "location">Location*</label><br>
        <input name = "listing[location]" placeholder="Enter your desired location" type = "text"
        value = "<%= list.location %>" requiredFill = "true">
      </div>
      
    </div>
    <div class = "label_input">
      <label for = "country">Country*</label><br>
      <input name = "listing[country]" type = "text" value
        = "<%= list.country %>" requiredFill = "true">
    </div>
    
    
    
    
    
    <div class = "button-div">
      <button id = "new-add-btn">Submit</button>
    </div>
  </form>
  
   <script src = "/js/formValidation.js">
</body>


