<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class = "cards">
    
  <% for(let card of listings){ %>
  <div class = "card" onclick = "window.location.href = '/listings/<%= card.id
  %>'">
    <div class = "card-image">
      <img src = "<%= card.image %>">
    </div>
    <div class = "card-info">
      <div class = "card-title">
        <%= card.title %>
      </div>
      <div class = "card-location">
        <%= card.location %>, <%= card.country %>
      </div>
      <div class = "card-price">
        <b>&#2547;<%= card.price %></b> night
      </div>
    </div>
  </div>
  <% } %>
    
  </div>
</body>


